<!-- services -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<section class="agileits-services text-center py-5">
  
		<div class="container py-md-4 mt-md-3">
			<h3 class="w3ls-title text-uppercase">DỊCH VỤ </h3>
			<!-- service grid row-->
			<div class="agileits-services-row row mt-md-3 pt-5">
				<div class="col-lg-4 col-md-6 mb-5 agileits-services-grids  order-md-1 order-1">
					<span class="fas fa-book"></span>
					<h4 class="mt-2 mb-2">Hệ thống giáo dục tốt nhất</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
				<div class="col-lg-4 col-md-6 mb-5 agileits-services-grids order-md-2 order-2">
					<span class="fas fa-graduation-cap"></span>
					<h4 class="mt-2 mb-2">Quản lý học tập</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
				<div class="col-lg-4 col-md-6 mb-5 agileits-services-grids order-md-3 order-3">
					<span class="fas fa-id-card"></span>
					<h4 class="mt-2 mb-2">Chứng nhận trực tuyến</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
				<div class="col-lg-4 col-md-6 mb-5 agileits-services-grids  order-md-4 order-4">
					<span class="fas fa-book"></span>
					<h4 class="mt-2 mb-2">Hệ thống giáo dục tốt nhất</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
				<div class="col-lg-4 col-md-6 md-mb-5 agileits-services-grids order-md-5 order-5">
					<span class="fas fa-graduation-cap"></span>
					<h4 class="mt-2 mb-2">Quản lý học tập</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
				<div class="col-lg-4 col-md-6 md-mb-5 agileits-services-grids order-md-6 order-6">
					<span class="fas fa-id-card"></span>
					<h4 class="mt-2 mb-2">Chứng nhận trực tuyến</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores</p>
				</div>
			</div>
			<!-- // service grid row-->
		</div>
	</section>
<!-- services -->