<div id="login-form">
<body>
	<div class="video-w3l" data-vide-bg="video/1">
		<!--header-->
		<div class="header-w3l">
			<h1>
				<span>G</span>ia
				<span>S</span>ư
				<span>L</span>ogin
			</h1>
		</div>
		<!--//header-->
		<div class="main-content-agile">
			<div class="sub-main-w3">
				<h2>Login Here
					<i class="fa fa-hand-o-down" aria-hidden="true"></i>
				</h2>
				<form action="#" method="post">
					<div class="pom-agile">
						<span class="fa fa-user-o" aria-hidden="true"></span>
						<input placeholder="Username" name="Name" class="user" type="text" required="">
					</div>
					<div class="pom-agile">
						<span class="fa fa-key" aria-hidden="true"></span>
						<input placeholder="Password" name="Password" class="pass" type="password" required="">
					</div>
					<div class="sub-w3l">
						<div class="sub-agile">
							<input type="checkbox" id="brand1" value="">
							<label for="brand1">
								<!-- <span></span>Remember me -->
                <input type="checkbox">
                </label>
						</div>
						<a href="#"> Quên Mật Khẩu ?</a>
            <br>
            <a routerLink="/signup" routerLinkActive="active">Đăng Ký</a>       
						<div class="clear"></div>
					</div>
					<div class="right-w3l">
						<input type="submit" value="Login">
					</div>
				</form>
			</div>
		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">
			<p>&copy; 2018 Effective Login Form. All rights reserved | Design by
				<a href="https://www.facebook.com/my.life.988">Phúc Nguyễn</a>
			</p>
		</div>
		<!--//footer-->
	</div>

	<!-- js -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.vide.min.js"></script>
	<!-- //js -->

</body>
</div>


