<!-- promotions -->
<header>
	<nav class="w3-navbar py-2">
						<div class="nav-top">
							  <!-- Logo -->
								<div class="logo">
								  <a routerLink="/home" routerLinkActive="active">
									GIA SƯ
								  </a>
							  </div>
							  <!-- Logo -->
                <!-- <div class="right">
                  <div class="w3-socials">   
                  <a class="fas fa-phone" href="#" target="_blank" rel="noopener">ĐĂNG NHẬP</a>
                  </div>
                  <div class="clearfix"></div>
                </div> -->
							<div class="right">
								<div class="w3-socials">                 
										<a routerLink="/login" routerLinkActive="active"><i class="fas fa-phone"></i>
											ĐĂNG NHẬP
										</a>
								</div>
								
							</div>
							<div class="clearfix"></div>
						</div>
						
					 <!-- end container -->
				
	</nav>
</header>
<body>
  <div class="news">
	<section class="wthree-row w3-about  py-5">
		<div class="container py-md-4 mt-md-3">
			<h3 class="w3ls-title text-uppercase text-center">CÁC KHÓA HỌC PHỔ BIẾN</h3>
			<div class="card-deck mt-md-3 pt-5">
				  <div class="card">
					<img src="https://i.imgur.com/LuiGlAA.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Gia sư tại nhà</h5>
					  <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
          <button class="btn btn-danger "><h4>Chi tiết !</h4></button>
				  </div>
				  <div class="card">
					<img src="https://i.imgur.com/lwnG91N.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Học gia sư trực tuyến</h5>
					   <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
           <button class="btn btn-danger "><h4>Chi tiết !</h4></button>
				  </div>
				  <div class="card">
					<img src="https://i.imgur.com/rQvpQTb.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Học ở trung tâm gia sư</h5>
					   <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
           <button class="btn btn-danger "><h4>Chi tiết !</h4></button>
				  </div>
				</div>
            </div>
    </section>
<!-- //promotions -->
	<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>
    <a href="javascript:void(0)" class="hamburger"><div class="hamburger__icon"></div></a>
  </div>
</body>