
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

<body>
<!-- banner -->
<header>
	<nav class="w3-navbar py-2">
						<div class="nav-top">
							  <!-- Logo -->
								<div class="logo">
								  <a routerLink="/home" routerLinkActive="active">
									GIA SƯ
								  </a>
							  </div>
							  <!-- Logo -->
                <!-- <div class="right">
                  <div class="w3-socials">   
                  <a class="fas fa-phone" href="#" target="_blank" rel="noopener">ĐĂNG NHẬP</a>
                  </div>
                  <div class="clearfix"></div>
                </div> -->
							<div class="right">
								<div class="w3-socials">                 
										<a routerLink="/login" routerLinkActive="active"><i class="fas fa-phone"></i>
											ĐĂNG NHẬP
										</a>
								</div>
								
							</div>
							<div class="clearfix"></div>
						</div>
						
					 <!-- end container -->
				
	</nav>
</header>
<section class="w3l-banner">
	<div class="wthree-dot">
	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="typography.html">Typography</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>		
	<!-- //nav -->
	<!-- //Header -->
		<div class="container">
			 <div class="flexslider-info">
				<section class="slider">
					<div class="flexslider">
						
					<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-930px, 0px, 0px);"><li class="clone" style="width: 930px; float: left; display: block;">
								<div class="w3l-info">
								<h3>Bắt đầu học tập vì tương lai thành công</h3>
								<p>Chúng tôi có chỗ ở hoàn hảo cho bạn.</p>
								
							</div>
							</li>
							<li style="width: 930px; float: left; display: block;" class="flex-active-slide">
							<div class="w3l-info">
								<h1>Bắt đầu học tập vì tương lai thành công</h1>
								<p>Chúng tôi có chỗ ở hoàn hảo cho bạn.</p>
								
							</div>
							</li> 
							<!-- <li class="" style="width: 930px; float: left; display: block;">
								<div class="w3l-info">
								<h2>Làm cho giáo dục phổ biến tốt nhất trong tương lai</h2>
								<p>Chúng tôi có chỗ ở hoàn hảo cho bạn.</p>
								
							</div>
							</li>
							<li class="" style="width: 930px; float: left; display: block;">
								<div class="w3l-info">
								<h3>Bắt đầu học tập vì tương lai thành công</h3>
								<p>Chúng tôi có chỗ ở hoàn hảo cho bạn.</p>
								
							</div>
							</li>
						<li style="width: 930px; float: left; display: block;" class="clone">
							<div class="w3l-info">
								<h1>Bắt đầu học tập vì tương lai thành công</h1>
								<p>Chúng tôi có chỗ ở hoàn hảo cho bạn.</p>
								
							</div>
							</li> -->
              </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
				</section>
			</div>
      <!-- <app-slider></app-slider> -->
		</div>
	</div>
</section>
<!-- //banner -->
<!--banner form-->
	<section class="banner_form py-5">
		<div class="container py-md-4 mt-md-3">
		<h3 class="w3ls-title text-uppercase text-center">giáo dục của chúng tôi</h3>
			<div class="row ban_form mt-3 pt-md-5">
				<div class="col-lg-8 bg-white fom-left">
				<div class="row">
						<div class="col-md-6 col-sm-6 categories_sub cats">
							<div class="categories_sub1">
								<h3 class="mt-3">Trợ giúp nhanh</h3>
								<p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="categories_sub1">
								<h3 class="mt-3"> Học bổng cho sinh viên</h3>
								<p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="categories_sub1">
								<h3 class="mt-3">Sự kiện và thể thao</h3>
								<p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 categories_sub cats1">
							<div class="categories_sub2">
								<h3 class="mt-3">Ở quốc gia của bạn</h3>
								<p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="categories_sub2">
								<h3 class="mt-3">Những thắc mắc</h3>
								<p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="categories_sub2">
								<h3 class="mt-3">Câu trả lời phù hợp</h3>
								<p class="mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 reg-fom">
					<h4 class="text-white text-center">Tìm kiếm khóa học</h4>
						<form action="#" method="post">
							<div class="reg-fom-btm mt-5">
								<div class="fields">
									<span class="text-white mb-2">Chọn mức độ</span>
										<select class="form-control">
													<option>Bằng thạc sĩ</option>
													<option>Bằng tốt nghiệp</option>
													<option>Sinh viên</option>
													<option>Bằng cử nhân</option>
													<option>Bằng tiến sĩ / giáo sư</option>
													
									</select>
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<div class="fields">
									<span class="text-white mb-2">Cấp Độ</span>
										<select class="form-control">
													<option>Lớp 1</option>
													<option>Lớp 2</option>
													<option>Lớp 3</option>
													<option>Lớp 4</option>
													<option>Lớp 5</option>
													<option>Lớp 6</option>
													<option>Lớp 7</option>
													<option>Lớp 8</option>
													<option>Lớp 9</option>
													<option>Lớp 10</option>
													<option>Lớp 11</option>
													<option>Lớp 12</option>
													
													
									</select>
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<div class="fields">
									<span class="text-white mb-2">Môn Học</span>
										<select class="form-control">
													<option>Môn Toán</option>
													<option>Văn học</option>
													<option>Ngoại ngữ</option>
													<option>Vật lý</option>
													<option>Hóa học</option>
													<option>Sinh Học</option>
													<option>Lịch Sử</option>
													<option>Địa lý</option>
													<option>GDCD</option>
													<option>Đạo Đức</option>
													<option>Mỹ Thuật</option>
													<option>Âm nhạc</option>
													
										</select>
								</div>
							</div>
							<div class="reg-fom-btm mt-3">
								<input type="submit" value="Tìm Kiếm">
							</div>
						</form>
					</div>
			</div>
		</div>
	</section>
	<!--//banner form-->
	<!-- slide -->
	<!-- //slide -->
  <app-service></app-service>
<!-- services bottom -->
<!-- //services bottom -->
<!-- promotions -->
	<section class="wthree-row w3-about  py-5">
		<div class="container py-md-4 mt-md-3">
			<h3 class="w3ls-title text-uppercase text-center">CÁC KHÓA HỌC PHỔ BIẾN</h3>
			<div class="card-deck mt-md-3 pt-5">
				  <div class="card">
					<img src="https://i.imgur.com/LuiGlAA.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Gia sư tại nhà</h5>
					  <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				  </div>
				  <div class="card">
					<img src="https://i.imgur.com/lwnG91N.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Học gia sư trực tuyến</h5>
					   <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				  </div>
				  <div class="card">
					<img src="https://i.imgur.com/rQvpQTb.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Học ở trung tâm gia sư</h5>
					   <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
					</div>
				  </div>
				</div>
            </div>
    </section>
<!-- //promotions -->
<!-- footer -->
 <footer> 
<section class="footer footer_w3layouts_section_1its py-md-5">
	<div class="container py-5">
		<div class="row footer-top">
			<div class="col-lg-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Giới thiệu thêm</h3>
				</div>
				<div class="footer-text">
					<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>
					<!-- <ul class="social_section_1info">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></i></a></li>
					</ul> -->
				</div>
			</div>
			<div class="col-lg-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Thông tin liên lạc</h3>
				</div>
				<div class="contact-info">
					<h4>Vị trí:</h4>
					<p>Tòa nhà VinHome Grand.</p>
					<div class="phone">
						<h4>SĐT :</h4>
						<p>Phone : +8432 774 2927</p>
						<p>Email : <a href="phucnvph08790@fpt.edu.vn">phucnvph08790@fpt.edu.vn</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-2 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Liên Kết</h3>
				</div>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="typography.html">Typography</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-lg-4 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Tin Mới Nhất</h3>
				</div>
					 <div class="d-flex justify-content-around">
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/LuiGlAA.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/lwnG91N.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/rQvpQTb.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/RPwQpkT.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/w2WWBTi.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                            <a href="#" class="col-4 fot_tp p-2">
                                <img src="https://i.imgur.com/FT3CnHQ.jpg" class="img-fluid" alt="Responsive image">
                            </a>
                        </div>
			</div>
		</div>
		<div class="copyright">
			<p>© 2020 Gia Sư. Bản quyền & Sở hữu | Thiết Kế Bởi <a href="http://facebook.com/my.life.988/">Phúc Nguyễn</a> </p>
		</div>
	</div>
</section>
</footer> -->
<!-- //footer -->
<!-- Default-JavaScript-File -->
	<!-- <script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script> -->
	<!-- <script type="text/javascript" src="assets/js/bootstrap.js"></script>  -->
<!-- //Default-JavaScript-File -->
<!--menu script-->
<!-- <script type="text/javascript" src="assets/js/modernizr-2.6.2.min.js"></script> -->
		<!-- <script src="assets/js/jquery.fatNav.js"></script> -->
		<!-- <script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>
    <a href="javascript:void(0)" class="hamburger"><div class="hamburger__icon"></div></a> -->
<!--Start-slider-script-->
	<!-- <script defer src="assets/js/jquery.flexslider.js"></script> -->
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->
</body>
<!-- //Body -->
<!-- </html> -->
